---
layout: archive
title: "Lquid Util"
permalink: /lquid_util/
author_profile: true
classes: wide
---

{% assign reviews = site.posts | sort: "date" | reverse %}
{% for review in reviews %}

{% assign variable = 0 %}

<pre>
- title: {{ review.sidebar[variable].title }}
  post_title: {{ review.title }}
  ori_title: {{ review.sidebar[variable].text }}
  cover: {{ review.sidebar[variable].image }}{% assign variable = variable | plus: 1 %}
  author: {{ review.sidebar[variable].text }}{% assign variable = variable | plus: 1 %}
  trans: {% if review.sidebar[variable].title == "번역" %}{{ review.sidebar[variable].text }}{% assign variable = variable | plus: 1 %}{% endif %}
  pub: {{ review.sidebar[variable].text }}{% assign variable = variable | plus: 1 %}
  pub_info: {{ review.sidebar[variable].text }}
  post_link: {{ review.url }}
</pre><br>

{% endfor %}