---
layout: archive
title: "Reading List"
permalink: /reading_list/
author_profile: true
classes: wide
---
<div>
    <ul>
        <li>추천하는 책은 저자 뒤에 <i class="fas fa-award"></i> 로 표시됩니다.</li>
        <li>목록은 기본적으로(재독을 포함하여) 가장 최근에 읽은 순서대로 정렬됩니다.</li>
        <li>완독을 기준으로 목록에 추가하지만, 관련된 리뷰가 없는 경우도 있습니다.</li>
        <li> <a href="https://www.notion.so/COSMO-S-Lib-c45a9bf7d8f846669615e03102b6244a" target="_blank" class="btn btn--info"><i class="fa fa-link"></i> Notion : 디지털 서재 </a></li>
        <li> <a href="#" class="btn btn--primary"><i class="fas fa-upload"></i> Last Updated {{ site.data.reading.lastupdate }}</a></li>
    </ul>
</div>
{% for entry in site.data.reading.list %}
<div>
    <div>
        <h1 class="archive__subtitle">{{ entry.year }}<span class="small"> | {{ entry.books | size }} books</span></h1>
    </div>
    <div>
        <ul class="reading-list {{ entry.year }}">
            {% for book in entry.books %} {% if book.post_link %}
            <li><a href="{{ site.url }}{{ book.post_link }}" alt="_blank" rel="nofollow noopener">『{{
                    book.title
                    }}』</a>
                {% else %}
            <li><a>『{{
                    book.title
                    }}』</a>{% endif %} {% if book.ori_title %}<span class="small"> {{ book.ori_title }}</span>{% endif %}
                <span class="page__content"> <i class="small">저자</i> {{ book.author }}</span>{% if book.star %}<span> <i class="fas fa-award"></i></span>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}